# Exercises: Level 1

# Declare an empty list

In [ ]:
my_list = []

# Declare a list with more than 5 items

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]

# Find the length of your list

length_of_list = len(my_list)
print(length_of_list)

# Get the first item, the middle item and the last item of the list

In [ ]:
first_item = my_list[0]  # First item (index 0)
middle_item = my_list[len(my_list) // 2]  # Middle item (index of the middle element)
last_item = my_list[-1]  # Last item (index -1)

print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
mixed_data_types = ["Sani Ado", 40, 8.9, "Married", "153 Sardauna Crescent, Kano State"]

# Print the list using print()

In [ ]:
mixed_data_types = ["Sani Ado", 40, 8.9, "Married", "153 Sardauna Crescent, Kano State"]

print(mixed_data_types)

# Print the number of companies in the list

In [ ]:
companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla"]

# Print the number of companies in the list
print("Number of companies:", len(companies))

# Print the first, middle and last company

In [ ]:
companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla"]

# First company
first_company = companies[0]

# Middle company (assuming an odd number of elements)
middle_company = companies[len(companies) // 2]

# Last company
last_company = companies[-1]

# Print the results
print("First company:", first_company)
print("Middle company:", middle_company)
print("Last company:", last_company)

# Print the list after modifying one of the companies

In [ ]:
companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla"]

# Modify the second company (index 1)
companies[1] = "Meta"  # Change "Microsoft" to "Meta"

# Print the modified list
print(companies)

# Add an IT company to it_companies

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla"]

# Add a new IT company (e.g., "IBM")
it_companies.append("IBM")

# Print the updated list
print(it_companies)

# Insert an IT company in the middle of the companies list

In [ ]:
companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla"]

# Insert a new IT company (e.g., "Intel") in the middle of the list
middle_index = len(companies) // 2
companies.insert(middle_index, "Intel")

# Print the updated list
print(companies)

# Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Change the name of "Apple" to uppercase (excluding "IBM")
for i in range(len(it_companies)):
    if it_companies[i] != "IBM":
        it_companies[i] = it_companies[i].upper()
        break  # Exit the loop after modifying one company

# Print the updated list
print(it_companies)

# Join the it_companies with a string '#;  '

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Join the companies with "#;  " as the separator
joined_companies = "#;  ".join(it_companies)

# Print the result
print(joined_companies)

# Check if a certain company exists in the it_companies list.

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Company to check
company_to_check = "Microsoft"

# Check if the company exists in the list
if company_to_check in it_companies:
    print(f"{company_to_check} exists in the list.")
else:
    print(f"{company_to_check} does not exist in the list.")

# Sort the list using sort() method

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Sort the list alphabetically
it_companies.sort()

# Print the sorted list
print(it_companies)

# Reverse the list in descending order using reverse() method

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Sort the list alphabetically first
it_companies.sort()

# Reverse the list in place to get descending order
it_companies.reverse()

# Print the reversed list
print(it_companies)

# Slice out the first 3 companies from the list

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Slice the first 3 companies
first_three_companies = it_companies[:3]

# Print the result
print(first_three_companies)

# Slice out the last 3 companies from the list

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Slice the last 3 companies
last_three_companies = it_companies[-3:]

# Print the result
print(last_three_companies)

# Slice out the middle IT company or companies from the list

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Find the middle index (for odd or even number of companies)
middle_index = len(it_companies) // 2

# Check if the number of companies is odd or even
if len(it_companies) % 2 != 0:
    # If odd, slice out the single middle company
    middle_companies = it_companies[middle_index:middle_index + 1]
else:
    # If even, slice out the two middle companies
    middle_companies = it_companies[middle_index - 1:middle_index + 1]

# Print the result
print(middle_companies)

# Remove the first IT company from the list

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Remove the first IT company using pop
it_companies.pop(0)

# Print the updated list
print(it_companies)

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Remove the first IT company using del
del it_companies[0]

# Print the updated list
print(it_companies)

# Remove the middle IT company or companies from the list

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Find the middle index (for odd or even number of companies)
middle_index = len(it_companies) // 2

# Check if the number of companies is odd or even
if len(it_companies) % 2 != 0:
    # If odd, remove the single middle company
    removed_company = it_companies.pop(middle_index)
else:
    # If even, remove the two middle companies
    removed_companies = it_companies[middle_index - 1:middle_index + 1]
    del it_companies[middle_index - 1:middle_index + 1]

# Print the updated list
print(it_companies)

# Remove the last IT company from the list

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Remove the last IT company using pop
it_companies.pop(-1)

# Print the updated list
print(it_companies)

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Remove the last IT company using del
del it_companies[-1]

# Print the updated list
print(it_companies)

# Remove all IT companies from the list

In [ ]:
#using clear method
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Clear the entire list
it_companies.clear()

# Print the updated list
print(it_companies)

In [ ]:
#using reassignment
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Reassign to an empty list
it_companies = []

# Print the updated list
print(it_companies)

# Destroy the IT companies list

In [ ]:
it_companies = ["Google", "Microsoft", "Apple", "Amazon", "Tesla", "IBM"]

# Destroy the IT companies list
del it_companies

# Try to print the list (this will raise an error)
try:
    print(it_companies)
except NameError:
    print("The list has been destroyed and is no longer accessible.")

# Join the following lists:

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

# Join the lists using the + operator
full_stack = front_end + back_end

# Print the joined list
print(full_stack)

In [ ]:
#using extend() method
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

# Create a copy of front_end and extend it with back_end
full_stack = front_end.copy()
full_stack.extend(back_end)

# Print the joined list
print(full_stack)

# Exercises level 2

# The following is a list of 10 students ages:
# ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list of ages
ages.sort()

# Find the minimum and maximum ages
min_age = min(ages)
max_age = max(ages)

# Print the sorted list, min age, and max age
print("Sorted ages:", ages)
print("Minimum age:", min_age)
print("Maximum age:", max_age)

# Add the min age and the max age again to the list

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list of ages
ages.sort()

# Find the minimum and maximum ages
min_age = min(ages)
max_age = max(ages)

# Add the min age and max age to the list again
ages.append(min_age)
ages.append(max_age)

# Print the updated list
print("Updated list of ages:", ages)

# Find the median age (one middle item or two middle items divided by two)

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list of ages
ages.sort()

# Find the length of the list
n = len(ages)

# Calculate the median
if n % 2 == 1:
    # Odd length: middle element
    median = ages[n // 2]
else:
    # Even length: average of the two middle elements
    median = (ages[n // 2 - 1] + ages[n // 2]) / 2

# Print the median
print("Median age:", median)

# Find the average age (sum of all items divided by their number )

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Calculate the sum of the ages
sum_of_ages = sum(ages)

# Calculate the number of elements in the list
num_of_ages = len(ages)

# Calculate the average age
average_age = sum_of_ages / num_of_ages

# Print the average age
print("Average age:", average_age)

# Find the range of the ages (max minus min)

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Find the maximum and minimum ages
max_age = max(ages)
min_age = min(ages)

# Calculate the range
age_range = max_age - min_age

# Print the range
print("Range of ages:", age_range)

# Compare the value of (min - average) and (max - average), use abs() method

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Calculate the sum of the ages
sum_of_ages = sum(ages)

# Calculate the number of elements in the list
num_of_ages = len(ages)

# Calculate the average age
average_age = sum_of_ages / num_of_ages

# Find the maximum and minimum ages
max_age = max(ages)
min_age = min(ages)

# Calculate the absolute differences
min_diff = abs(min_age - average_age)
max_diff = abs(max_age - average_age)

# Print the differences
print("Absolute difference (min - average):", min_diff)
print("Absolute difference (max - average):", max_diff)

# Find the middle country(ies) in the countries list

In [ ]:
countries = ['USA', 'Canada', 'Mexico', 'Brazil', 'Argentina', 'Germany', 'India']

# Find the length of the list
n = len(countries)

# Check if the number of countries is odd or even
if n % 2 == 1:
    # If odd, the middle country is the one at index n // 2
    middle_country = countries[n // 2]
    print("Middle country:", middle_country)
else:
    # If even, the middle countries are at indices n // 2 - 1 and n // 2
    middle_countries = countries[n // 2 - 1 : n // 2 + 1]
    print("Middle countries:", middle_countries)

# Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [ ]:
countries = ['USA', 'Canada', 'Mexico', 'Brazil', 'Argentina', 'Germany', 'India']

# Find the length of the list
n = len(countries)

# Calculate the midpoint
midpoint = (n + 1) // 2  # Add 1 to n if it's odd, so the first half will have one more element

# Divide the list into two halves
first_half = countries[:midpoint]
second_half = countries[midpoint:]

# Print the two halves
print("First half:", first_half)
print("Second half:", second_half)

# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [ ]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# Unpack the first three countries and the rest as Scandic countries
first_three, *scandic_countries = countries

# Print the unpacked countries
print("First three countries:", first_three)
print("Scandic countries:", scandic_countries)

# Tuple Exercises
# Tuple Exercises: Level 1

# Create an empty tuple

In [ ]:
empty_tuple = ()
print("Empty tuple:", empty_tuple)

Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [ ]:
brothers = ('Musa', 'Abubakar', 'Ibrahim')
sisters = ('Safiyya', 'Fatima')
print("Brothers:", brothers)
print("Sisters:", sisters)

# Join brothers and sisters tuples and assign it to siblings

In [ ]:
siblings = brothers + sisters
print("Siblings:", siblings)

# How many siblings do you have?

In [ ]:
number_of_siblings = len(siblings)
print("Number of siblings:", number_of_siblings)

# Modify the siblings tuple and add the name of your father and mother and assign it to family_members